{
  "plugins": ["prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
